.container {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  width: 5rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

.fill {
  background-color: var(--today, hsl(var(--soft-red)));
  height: var(--height);
  border-radius: 0.5rem;
  transition: all 0.2s ease;
}

.bar:hover .fill {
  background-color: var(--today-hover, hsl(var(--soft-red), 0.7));
}

.expense {
  margin-top: -4rem;
  margin-left: -0.4rem;
  width: 120%;
  text-align: center;
  background-color: var(--dark-brown);
  border-radius: 0.5rem;
  padding-block: 0.8rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--very-pale-orange);
  visibility: hidden;
  opacity: 1;
}

.bar:hover .expense {
  visibility: visible;
}

.label {
  font-size: 1.6rem;
  color: var(--medium-brown);
}
