.container {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  width: 5rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;
}

@media (max-width: 23.4375em) {
  .bar {
    width: 4rem;
  }
}

.fill {
  background-color: var(--today, hsl(var(--soft-red)));
  height: var(--height);
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}

.bar:hover .fill {
  background-color: var(--today-hover, hsl(var(--soft-red), 0.7));
}

.expense {
  margin-top: -4.6rem;
  margin-left: -1rem;
  width: 140%;
  text-align: center;
  background-color: var(--dark-brown);
  border-radius: 0.5rem;
  padding-block: 0.8rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--very-pale-orange);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.bar:hover .expense {
  opacity: 1;
}

.label {
  font-size: 1.6rem;
  color: var(--medium-brown);
}
