.chart {
  background-color: var(--very-pale-orange);
  border-radius: 2rem;
  padding: 3rem;
}
.chart h1 {
  color: var(--dark-brown);
  font-size: 3rem;
  margin-bottom: 6rem;
}

.bars {
  display: flex;
  justify-content: space-between;
}
