.main {
  width: 54rem;
}

@media (max-width: 23.4375em) {
  .main {
    width: 95%;
    margin-inline: auto;
  }
}
.attribution {
  color: var(--dark-brown);
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
}
.attribution a {
  color: hsl(var(--soft-red));
  text-decoration: none;
  font-weight: 700;
}
